@import '@/styles/function.scss';
@import '@/styles/variables.scss';
.content {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	background-color: rgba($primaryColor, 0.8);
	animation: _right .3s linear;
	animation-fill-mode: forwards;
	:global {
		.react-select {
			&__control {
				font-size: 24px;
			}
			&__option {
				line-height: 80px;
				height: 80px;
				padding: 0 30px;
			}
		}
	}
	.close {
		position: absolute;
		top: 30px;
		right: 30px;
		width: 80px;
		cursor: pointer;
	}
	.top {
		width: 400px;
		margin: auto;
		margin-top: 79px;
		.select {
			// border-radius: 10px 10px 0px 0px;
			// border: 1px solid #ededed;
			width: 100%;
		}
		.inputWr {
			position: relative;
			font-size: 14px;
			width: 100%;
			margin-bottom: 60px;
			input {
				background-color: #fff;
				background-image: none;
				border: 1px solid transparent;
				box-sizing: border-box;
				display: inline-block;
				font-size: 24px;
				outline: none;
				padding: 0 30px;
				transition: border-color 0.2s
					cubic-bezier(0.645, 0.045, 0.355, 1);
				width: 100%;
				padding-right: 66px;
				height: 80px;
				line-height: 80px;
				background: #682992;
				border-radius: 40px;
				color: white;
				font-family: AlibabaSans-Regular, AlibabaSans;
				&::placeholder {
					/* Chrome, Firefox, Opera, Safari 10.1+ */
					color: #fff;
					opacity: 1; /* Firefox */
				}
			}
			.suffix {
				position: absolute;
				height: 100%;
				right: 30px;
				top: 0;
				text-align: center;
				color: #c0c4cc;
				transition: all 0.3s;
				pointer-events: none;
				display: flex;
				align-items: center;
				img {
					width: 36px;
				}
			}
		}
	}
	.list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 80px;
		margin-top: 20px;
		padding-top: 52px;
		height: calc(100% - 372px);
		overflow: auto;
		.item {
			position: relative;
			cursor: pointer;
			width: calc((100vw - 230px) / 2);
			&::after {
				position: absolute;
				right: 0;
				top: 0;
			}
			.imgBox {
				width: 100%;
				height: calc((100vw - 230px) / 2);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
			}
			.label {
				font-size: 26px;
				font-family: AlibabaSans-Regular, AlibabaSans;
				font-weight: 400;
				color: white;
				line-height: 25px;
				text-align: center;
				z-index: 10;
				width: 100%;
			}
		}
		.item:nth-child(2n) {
			margin-left: 70px;
		}
		.item:nth-child(n + 3) {
			margin-top: 60px;
		}
	}
}

@keyframes _right
{
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}